html, body, div {
    box-sizing: border-box;
}

.container {
    background-color: red;
    width: 1200px;
    padding: 16px;
}

.green {
    background-color: #02bd02;
    padding: 8px;
    margin-bottom: 12px;
}

.green:last-child {
    margin-bottom: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.blue {
    background-color: blue;
    height: 200px;
    width: calc(50% - 8px);
    float: left;
}

.yellow {
    height: 200px;
    width: calc(25% - 12px);
    background-color: yellow;
}

.pink {
    height: 200px;
    background-color: #ff3f62;
}

.green > div {
    margin-left: 8px;
    margin-right: 8px;
    float: left;
}


.green > .pink:first-child {
    width: calc(30% - 8px);
}

.green > .pink:last-child {
    width: calc(70% - 8px);
}

@media screen and (max-width: 991px) {
    .blue {
        width: calc(100% - 16px);
        margin: 8px !important;
    }

    .yellow {
        width: calc(50% - 16px);
        margin: 8px !important;
    }

    .pink {
        width: calc(100% - 16px) !important;
        margin: 8px !important;
    }

}